body {
    font-family: Arial, sans-serif;
    background-color: #acaca0;
    text-align: center;
    margin: 20px auto;
}
h1 {
    color: black;
    margin-bottom: 25px;
}
.product-box {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border:2px solid gray;
    border-radius: 8px;
}